@import 'tailwindcss';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// TODO: Verschieben später
/* src/index.css */

@keyframes flash-white {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    background: white;
  }
  100% {
    opacity: 0;
  }
}

@keyframes shake-glow {
  0% {
    transform: scale(1);
    filter: brightness(1);
  }
  50% {
    transform: scale(1.1);
    filter: brightness(2) drop-shadow(0 0 10px gold);
  }
  100% {
    transform: scale(1);
    filter: brightness(1);
  }
}

.animate-flash {
  animation: flash-white 1.5s ease-in-out forwards;
}

.animate-evolution {
  animation: shake-glow 1.5s ease-in-out infinite;
}
